.shelf {
  border-radius: 0 0 5px 5px;
  /* background-color: #afb2b7;
  padding: 0.5rem 0.2rem;
  margin: 0;
  color: #000; */
}
.wardrobeItem {
    margin: 1.5rem;
    background: black;
    color: white;
    border-radius: 10px;    
    font: bold;
    padding: 1.2rem;
}
.itemContent {
  padding: 0 0.5rem;
}
.itemImg {
    padding: 5px 6px;
    border-radius: 10px;
}

.itemDesc {
  font-size: 1.1rem;
  font-weight: 400;
}
.itemDetails {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    background-color: #262526;
    color: white;
    border-radius: 5px;
    padding: 2px 11px;
    margin: 0px
}
.itemButtons {
  display: flex;
  justify-content: space-between;
  /* padding: 0 0.5rem; */
}
.itemButtons button{
      /* background-color: white; */
    /* color: black; */
    /* margin: 6px 8px; */
    /* font-weight: bold; */
    /* text-align: center; */
    text-transform: uppercase;
    /* cursor: pointer; */
    /* transition: all 0.2s ease; */
    /* padding: 0.4rem 2.5rem; */
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    background-color: #262526;
    color: white;
    border-radius: 2px;
    padding: 2px 11px;
    margin: 5px 9px -1px;
}
.itemButtons button:hover{
  background-color: black;
  color: white;
}
.itemButtons .editButton {
  flex-basis: 80%;
}
@media only screen and (min-width: 767px){
  .shelf {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
@media only screen and (min-width: 1140px){
  .shelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/* #262526 black
#7f8084
#afb2b7
#d7d8da
#f3f3f3 white
#ffa755 orange */